<a href="https://colab.research.google.com/github/samgulza/samgulza/blob/main/feature_scailing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing 
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
NBA_FILE_PATH = '/content/drive/My Drive/NBA_player_of_the_week.csv'

nba_player_of_the_week_df = pd.read_csv(NBA_FILE_PATH)

In [ ]:
nba_player_of_the_week_df.head()

           Player                    Team  ... Weight KG Last Season
0    Jayson Tatum          Boston Celtics  ...        94           1
1    Nikola Jokic          Denver Nuggets  ...       113           1
2    Jaylen Brown          Boston Celtics  ...        99           1
3  Damian Lillard  Portland Trail Blazers  ...        88           1
4   Pascal Siakam         Toronto Raptors  ...       104           1

[5 rows x 17 columns]

In [ ]:
nba_player_of_the_week_df.describe()

            Weight          Age  ...    Weight KG  Last Season
count  1340.000000  1340.000000  ...  1340.000000  1340.000000
mean    224.567164    26.738060  ...   101.384328     0.023881
std      30.798885     3.400683  ...    14.011226     0.152734
min     150.000000    19.000000  ...    68.000000     0.000000
25%     205.000000    24.000000  ...    93.000000     0.000000
50%     220.000000    26.000000  ...    99.000000     0.000000
75%     250.000000    29.000000  ...   113.000000     0.000000
max     325.000000    40.000000  ...   147.000000     1.000000

[8 rows x 9 columns]

In [ ]:
height_weight_age_df = nba_player_of_the_week_df[['Height CM','Weight KG','Age']]
height_weight_age_df.head()

   Height CM  Weight KG  Age
0        203         94   21
1        213        113   25
2        201         99   23
3        190         88   29
4        206        104   25

In [ ]:
scaler = preprocessing.MinMaxScaler()
normalized_data=scaler.fit_transform(height_weight_age_df)
normalized_data

array([[0.51851852, 0.32911392, 0.0952381 ],
       [0.7037037 , 0.56962025, 0.28571429],
       [0.48148148, 0.39240506, 0.19047619],
       ...,
       [0.48148148, 0.37974684, 0.23809524],
       [0.38888889, 0.21518987, 0.23809524],
       [0.42592593, 0.27848101, 0.52380952]])

In [ ]:
normailzed_df = pd.DataFrame(normalized_data, columns=['Height','Weight','Age'])

In [ ]:
normailzed_df.describe()

            Height       Weight          Age
count  1340.000000  1340.000000  1340.000000
mean      0.482808     0.422586     0.368479
std       0.173481     0.177357     0.161937
min       0.000000     0.000000     0.000000
25%       0.333333     0.316456     0.238095
50%       0.481481     0.392405     0.333333
75%       0.611111     0.569620     0.476190
max       1.000000     1.000000     1.000000

In [ ]:
normailzed_df['Age']

0       0.095238
1       0.285714
2       0.190476
3       0.476190
4       0.285714
          ...
1335    0.238095
1336    0.047619
1337    0.238095
1338    0.238095
1339    0.523810
Name: Age, Length: 1340, dtype: float64